.section-config #light_checkout_configuration_delivery_date td.value
{
    min-width: 700px;
    width: 100%;
}
.section-config #light_checkout_configuration_delivery_date td.value .time-select
{
    min-width: 100px;
}
