<div class="onepage-main">
    <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko foreach: getRegion('page_content') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="trust-seals-top">
    <!-- ko foreach: getRegion('trust_seals_top') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    </div>

    <div class="opc-wrapper">
        <div class="opc glc-cols" id="checkoutSteps">
            <div class="glc-left-col">
                <div class="glc-step glc-login">
                    <!-- ko foreach: getRegion('authentication') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <!-- ko foreach: getRegion('customer-email') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <div id="subscribe-newsletter">
                        <!-- ko foreach: getRegion('subscribeNewsletter') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                    </div>
                </div>
                <div class="glc-step glc-billing-address" data-bind="scope: 'checkout.billingAddress'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <div class="glc-step glc-shipping-address" data-bind="scope: 'checkout.shippingAddress'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <div class="glc-step glc-delivery">                
                    <div class="glc-shipping-methods" data-bind="scope: 'checkout.shippingAddress'">
                        <!-- ko template: getShippingMethodsTemplate() --><!-- /ko -->
                    </div>
                    <div class="glc-delivery-date" id="delivery-date" data-bind="scope: 'checkout.deliveryDate'">
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                </div>
                <div class="glc-step glc-payment-methods" data-bind="scope: 'checkout.payment'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>                
            </div>
            <div class="glc-right-col">
                <div class="glc-step glc-sidebar" data-bind="scope: 'checkout.sidebar'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>


