<div class="onepage-main">
    <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko foreach: getRegion('page_content') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko foreach: getRegion('authentication') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="one-third">
    <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    </div>

    <div class="opc-wrapper">
        <div class="opc" id="checkoutSteps">
            <div class="one-third left">
                <div data-bind="scope: 'checkout.billingAddress'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <div data-bind="scope: 'checkout.shippingAddress'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
            </div>
            <div class="two-thirds right">
                <div class="half left">
                    <div data-bind="scope: 'checkout.shippingAddress'">
                        <!-- ko template: getShippingMethodsTemplate() --><!-- /ko -->
                    </div>
                    <div id="delivery-date" data-bind="scope: 'checkout.deliveryDate'">
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                </div>
                <div class="half right" data-bind="scope: 'checkout.payment'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <div class="full right" data-bind="scope: 'checkout.sidebar'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>


