<div class="onepage-main">

    <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko foreach: getRegion('authentication') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="opc-wrapper">
        <ol class="opc" id="checkoutSteps">
            <li data-bind="scope: 'checkout.billingAddress'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </li>
            <li data-bind="scope: 'checkout.shippingAddress'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </li>
        </ol>
    </div>
</div>


