<div id="billing" class="checkout-billing-address">
    <div class="step-title" data-role="title">
        <span data-bind="i18n: 'Billing Address'"></span>
    </div>
    <div id="checkout-step-billing" class="step-content" data-role="content">
        <!-- ko if: (addressOptions.length > 1) -->
            <!-- ko template: 'GoMage_LightCheckout/form/billing-address/list' --><!-- /ko -->
        <!-- /ko -->

        <!-- ko template: 'GoMage_LightCheckout/form/billing-address/form' --><!-- /ko -->
    </div>
</div>
