<div id="shipping" class="glc-step glc-shipping-address checkout-shipping-address" data-bind="visible: !isAddressSameAsShipping() && canUseShippingAddress()">
    <div class="step-title" data-bind="i18n: 'Shipping Address'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <!-- ko template: 'GoMage_LightCheckout/form/shipping-address/list' --><!-- /ko -->

        <!-- ko template: 'GoMage_LightCheckout/form/shipping-address/form' --><!-- /ko -->

        <div class="mp-clear"></div>
    </div>
</div>
