<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="light_checkout" translate="label" sortOrder="250">
            <label>GoMage Light Checkout</label>
        </tab>
        <section id="light_checkout_configuration" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>light_checkout</tab>
            <resource>GoMage_LightCheckout::light_checkout</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable GoMage Light Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_shipping_method" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Shipping Method</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\DefaultShippingMethod</source_model>
                </field>
                <field id="default_payment_method" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Payment Method</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\DefaultPaymentMethod</source_model>
                </field>
                <field id="page_title" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page Title</label>
                </field>
                <field id="page_content" translate="label" type="textarea" sortOrder="60"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page Content</label>
                </field>
                <field id="enable_different_shipping_address" translate="label" type="select" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Different Shipping Address</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\EnableDifferentShippingAddress</source_model>
                </field>
                <field id="allow_to_change_qty" translate="label" type="select" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Allow to change Qty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_to_remove_item_from_checkout" translate="label" type="select" sortOrder="90"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Allow to Remove Item from Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_cart" translate="label" type="select" sortOrder="100"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Disable Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_discount_codes" translate="label" type="select" sortOrder="110"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Discount Codes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_order_summary_on_success_page" translate="label" type="select" sortOrder="120"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Show Order Summary on Success Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="registration" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Registration</label>
                <field id="checkout_mode" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Checkout Mode</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\CheckoutMode</source_model>
                </field>
                <field id="auto_registration" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auto-Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="create_an_account_checkbox" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Create an Account checkbox</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\CreateAnAccountCheckbox</source_model>
                    <depends>
                        <field id="auto_registration">0</field>
                    </depends>
                </field>
                <field id="allow_guest_registration_on_success_page" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Guest Registration on Success Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
