<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="light_checkout" translate="label" sortOrder="250">
            <label>GoMage Light Checkout</label>
        </tab>
        <section id="light_checkout_configuration" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>light_checkout</tab>
            <resource>GoMage_LightCheckout::light_checkout</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable GoMage Light Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
