<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="light_checkout" translate="label" sortOrder="250">
            <label>GoMage Light Checkout</label>
        </tab>
        <section id="light_checkout_configuration" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>light_checkout</tab>
            <resource>GoMage_LightCheckout::light_checkout</resource>
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Enable GoMage Light Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_shipping_method" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Shipping Method</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\ShippingMethodsWithEmptyValue</source_model>
                </field>
                <field id="default_payment_method" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Payment Method</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\PaymentMethodsWithEmptyValue</source_model>
                </field>
                <field id="page_title" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page Title</label>
                </field>
                <field id="page_content" translate="label" type="textarea" sortOrder="60"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page Content</label>
                </field>
                <field id="enable_different_shipping_address" translate="label" type="select" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Different Shipping Address</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\EnableDifferentShippingAddress</source_model>
                </field>
                <field id="allow_to_change_qty" translate="label" type="select" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow to change Qty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_to_remove_item_from_checkout" translate="label" type="select" sortOrder="90"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow to Remove Item from Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_cart" translate="label" type="select" sortOrder="100"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_discount_codes" translate="label" type="select" sortOrder="110"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Discount Codes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_order_summary_on_success_page" translate="label" type="select" sortOrder="120"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Order Summary on Success Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="registration" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Registration</label>
                <field id="checkout_mode" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Checkout Mode</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\CheckoutMode</source_model>
                </field>
                <field id="auto_registration" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auto-Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="create_an_account_checkbox" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Create an Account checkbox</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\CheckboxOptions</source_model>
                    <depends>
                        <field id="auto_registration">0</field>
                    </depends>
                </field>
            </group>
            <group id="devices" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Devices</label>
                <field id="desktop" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show on Desktops and Laptops</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tablet" translate="label" type="multiselect" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show on Tablet Devices with Full Browser</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\OperationSystemsForDevices</source_model>
                </field>
                <field id="smartphone" translate="label" type="multiselect" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show on Smartphones</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\OperationSystemsForDevices</source_model>
                </field>
            </group>
            <group id="delivery_date" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Delivery Date</label>
                <field id="enable_delivery_date" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Delivery Date</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_time" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Time</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delivery_days" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Delivery Days</label>
                    <frontend_model>GoMage\LightCheckout\Block\Adminhtml\Config\DeliveryDate\DeliveryDays</frontend_model>
                    <backend_model>GoMage\LightCheckout\Model\Config\Backend\DeliveryDate\Days</backend_model>
                </field>
                <field id="non_working_days" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Non-Working Days</label>
                    <frontend_model>GoMage\LightCheckout\Block\Adminhtml\Config\DeliveryDate\NonWorkingDays</frontend_model>
                    <backend_model>GoMage\LightCheckout\Model\Config\Backend\DeliveryDate\Days</backend_model>
                </field>
                <field id="set_interval_for_delivery" translate="label" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set Interval for Delivery, days</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\IntervalForDelivery</source_model>
                </field>
                <field id="date_format" translate="label" type="select" sortOrder="70"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Date Format</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\DateFormats</source_model>
                </field>
                <field id="use_delivery_date_for" translate="label" type="multiselect" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Delivery Date for</label>
                    <source_model>GoMage\LightCheckout\Model\Config\Source\ShippingMethods</source_model>
                </field>
                <field id="display_delivery_date_text" translate="label" type="select" sortOrder="90"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Delivery Date Text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delivery_date_text" translate="label" type="textarea" sortOrder="100"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Delivery Date Text</label>
                </field>
            </group>
            <group id="geoip" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>GeoIP Settings</label>
                <field id="enable_for_country" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable GeoIP for Country</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>GoMage\LightCheckout\Block\Adminhtml\Config\GeoIp</frontend_model>
                </field>
                <field id="enable_for_state" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable GeoIP for State/Province</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>GoMage\LightCheckout\Block\Adminhtml\Config\GeoIp</frontend_model>
                </field>
                <field id="enable_for_zip" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable GeoIP for Zip/Postcode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>GoMage\LightCheckout\Block\Adminhtml\Config\GeoIp</frontend_model>
                </field>
                <field id="enable_for_city" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable GeoIP for City</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>GoMage\LightCheckout\Block\Adminhtml\Config\GeoIp</frontend_model>
                </field>
            </group>
            <group id="terms_and_conditions" translate="label" type="text" sortOrder="400" showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Terms And Conditions</label>
                <field id="enable" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Terms and Conditions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
