.one-third {
    width: 33%;
}

.two-thirds {
    width: 66%
}

.half {
    width: 49.5%
}

.full {
    width: 100%;
}

.left {
    float:left;
    margin-right: 1%;
}

.right {
    float: right
}

.opc-wrapper {
    width: 100% !important;
}

.payment-method-content .actions-toolbar {
    display: none
}

.table-checkout-shipping-method {
    min-width: 10px;
}

.page-content {
    margin-bottom: 2%;
}

.remove-item {
    margin-left: 20%;
}

.fieldset > .form-create-account> .field.required > .label:after {
    content: '*';  color: #e02b27;  font-size: 1.2rem;  margin: 0 0 0 5px;
}

#delivery-date .left ._has-datepicker {
    width: 50%;
}

#delivery-date .left .ui-datepicker-trigger {
    float: left;
}

.green-text {
    color:green;
}

.red-text {
    color:red;
}
.address-half {
    width: 48%
}

#checkout #delivery-date,
#checkout #checkout-step-payment #co-payment-form #checkout-payment-method-load,
#checkout #opc-sidebar .opc-block-summary {
    position: relative;
}

#trust-seals p:not(:last-child) {
    float:left;
    padding-right: 3%;
}
