.one-third {
    width: 33%;
}

.two-thirds {
    width: 66%
}

.half {
    width: 49.5%
}

.full {
    width: 100%;
}

.left {
    float:left;
    margin-right: 1%;
}

.right {
    float: right
}

.opc-wrapper {
    width: 100% !important;
}

.payment-method-content .actions-toolbar {
    display: none
}

.table-checkout-shipping-method {
    min-width: 10px;
}

.page-content {
    margin-bottom: 2%;
}

.remove-item {
    margin-left: 20%;
}

.fieldset > .form-create-account> .field.required > .label:after {
    content: '*';  color: #e02b27;  font-size: 1.2rem;  margin: 0 0 0 5px;
}

#delivery-date .left ._has-datepicker {
    width: 50%;
}

#delivery-date .left .ui-datepicker-trigger {
    float: left;
}

.green-text {
    color:green;
}

.red-text {
    color:red;
}
.address-half {
    width: 48%
}

#checkout #delivery-date,
#checkout #checkout-step-payment #co-payment-form #checkout-payment-method-load,
#checkout #opc-sidebar .opc-block-summary {
    position: relative;
}

#trust-seals p:not(:last-child) {
    float:left;
    padding-right: 3%;
}

#social-networks span.google-logo {
    background: url("images/google-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%;
}
#social-networks span.facebook-logo {
    background: url("images/facebook-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%;
}
#social-networks span.twitter-logo {
    background: url("images/twitter-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%;
}

#social-networks span{
    display: block;
    width: 40px;
    height: 40px;
}

#social-networks span.text {
    margin-top: 15px;
    display: block;
    width: 20%;
    height: 40px;
}

#social-networks {
    padding-top: 10px;
}

.field.inside._required:after {
    content:"*";
    position:absolute;
    color: #e02b27;
    font-size: 1.2rem;
}
